<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120200215072625.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/29bf9e30-0775-458c-914b-d440d7552b10/resourcegroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/FunctionApp120200215072625</ResourceId>
    <UserName>$FunctionApp120200215072625</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionapp120200215072625.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>